body {
    background-color: gree;
}
@-moz-keyframes play {
   from { background-position: 0px; }
     to { background-position: 128px; }
}
@-moz-keyframes playpersobas {
   from { background-position: 0px; }
     to { background-position: 75px; }
}
@-moz-keyframes playpersodroite {
   from { background-position: 0px; }
     to { background-position: 69px; }
}
@-moz-keyframes playpersogauche {
   from { background-position: 0px; }
     to { background-position: 66px; }
}
@-moz-keyframes playpersohaut {
   from { background-position: 0px; }
     to { background-position: 69px; }
}
@-moz-keyframes playpersotuto {
   from { background-position: 0px; }
     to { background-position: 200px; }
}
@-moz-keyframes apercu {
   from { background-position: 0px; }
     to { background-position: 200px; }
}



@-webkit-keyframes play {
   from { background-position: 0px; }
     to { background-position: 128px; }
}
@-webkit-keyframes playpersobas {
   from { background-position: 0px; }
     to { background-position: 75px; }
}
@-webkit-keyframes playpersodroite {
   from { background-position: 0px; }
     to { background-position: 69px; }
}
@-webkit-keyframes playpersogauche {
   from { background-position: 0px; }
     to { background-position: 66px; }
}
@-webkit-keyframes playpersohaut {
   from { background-position: 0px; }
     to { background-position: 69px; }
}
@-webkit-keyframes playpersotuto {
   from { background-position: 0px; }
     to { background-position: 200px; }
}
@-webkit-keyframes apercu {
   from { background-position: 0px; }
     to { background-position: 200px; }
}


@font-face {
font-family: 'agency FB';
src: url('AGENCYR.ttf') format ('truetype');
}